# Flutter
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Keystore
key.properties
**/*.keystore
**/*.jks

# Ficheiros com chaves/segredos 
lib/config.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.env
*.env