*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
   background-color: var(--color-primary);
   display: flex;
   flex-direction: column;
   gap: 30px;

}
html{
    overflow-x: hidden;
}


/*====BOTOES RESET ====*/
button{
 border: none;
 outline: none;
 font-size: var(--btn-font-size);
 cursor: pointer;
 color:var(--btn-color);
}

/*=====TEXTO FONT====*/
input, button, p, select, label, span{
    font-family: var( --font-base);
     font-weight: 500;

}
a{
    text-decoration: none;
    color: var(--btn-color);
     font-family: var( --font-base);
}
h1{
    font-family: var(--font-title);
    font-size: 19px;
}
 h3{
     font-family: var(--font-title);
      font-size: 16px;
 }
 h4{
     font-family: var(--font-title);
      font-size: 17px;
 }



