
/*====================NAVE==========*/
header{
    background-color: var(--color-secondary);
    box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
    padding: var( --basic-padding-x) var(--basic-padding-y);
    
}
.nav{
     display: flex;
    gap: 25px;
    align-items: center;

}

.nave_button_none{
    background:none;
}

.search{
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: var( --border-radius);
    padding: 8px 12px;
    gap: 10px;
    flex-grow: 1;
}
.search input{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    height: 20px;
    flex-grow: 1;
}
#chatbot{
    padding: 0 30px;
}
#user{
    padding: 8px 14px;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
}
#relatar{
    padding: 8px 18px;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);

}

/*==========MAIN===============*/
.main{
    display: flex;
    border: 3px solid;
    justify-content: center;
    gap: var(--basic-gap);
     padding: var(--basic-padding-x) var(--basic-padding-y);
}

/*===============SECTION MAP ================*/
.section_map{
    display: flex;
    flex-direction: column;
    gap: var(--basic-gap);
    flex-grow: 1;
}
.mapa{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.mapa img{
width: auto;
height: 15vh;
}
.destaques{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}
.destaque{
    background-color: var(--color-secondary);
    padding: var(--basic-padding-x);
    display: flex;
    align-items: center;
    gap: 9px;
    border-radius: var(--border-radius);
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
}
.destaque img{
    width: 40px;
    border-radius: var(--border-radius);
}
.filtros{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.filtro{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
select{
    border: none;
    flex-grow: 1;
    outline: none;
    border-radius: var(--border-radius);
    padding: 3px ;
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
}

/*===========SECTION MAIN==============*/
.section_main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 80vh;
    padding: var(--basic-padding-x);
    gap: 10px;
    overflow-y: auto;
}
.casos_main{
    display: flex;
    padding: var(--basic-padding-x);
    flex-direction: column;
    gap:var(--leyout-gap);
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
}
/*============DESAPARECIDO==============*/
.desaparecido{
    display: flex;
    align-items: center;
    gap: var(--basic-gap);
}
.desaparecido img{
     width: var( --small-img);
     border-radius:100%;
}
.desaparecido button{
    background: none;
    margin-left: auto;
}

.main_img{
    width: auto;
    height: 35vh;
    border-radius: var(--border-radius);
    
}
/*==============MISSING DADOS===============*/
.missing_dados{
display: flex;
flex-direction: column;
}
.dados_1, .dados_2, .dados_3{
    display: flex;
    gap: 5px;
}
.interacao{
    display: flex;
    gap: var(--basic-gap);
    justify-content: center;
}
.interacao button{
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--color-primary);
     padding: var(--btn-padding-y) var(--btn-padding-x);
     flex-grow: 1;
    
}

/*===============ANUNCIOS==========*/
.section_anuncio{
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: 3px solid red;
    
}
.anuncios{
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    gap: 9px;
    padding: var(--basic-padding-x);
    background-color: var(--color-secondary);
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
      flex-grow: 1;
}
.anuncios img{
    width: auto;
    height: 200px;
}
.informacao{
    width: 300px;
}

/*==========FOOTER===============*/
.final_section{
    display: flex;
    flex-direction: column;
    gap: var(--basic-gap);
}
footer{
    display: flex;
    flex-wrap: wrap;
    gap: var(--basic-gap);
    width: 300px;
}



