body{
     gap: 20px;
}

/*====================NAVE==========*/
header{
    background-color: var(--color-secondary);
    box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
    padding: var( --basic-padding-x) var(--basic-padding-y);
    
}
.nav{
     display: flex;
    gap: 25px;
    align-items: center;

}

.nave_button_none{
    background:none;
}


.search{
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: var( --border-radius);
    padding: 8px 12px;
    gap: 10px;
    flex-grow: 1;
}
.search input{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    height: 20px;
    flex-grow: 1;
}
#chatbot{
    padding: 0 30px;
}
#user{
    padding: 8px 14px;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
}
#relatar{
    padding: 8px 18px;
    border-radius: var(--border-radius);
    background-color: var(--color-quaternary);
    color: var(--color-primary);

}

/*==========MAIN===============*/
.main{
    display: flex;
    justify-content: center;
    gap: var(--basic-gap);
     padding: var(--basic-padding-x) var(--basic-padding-y);
     
}

/*===============SECTION MAP ================*/
.section_map{
    display: flex;
    flex-direction: column;
    gap: var(--basic-gap);
    flex-grow: 1;
     border-radius: var(--border-radius);
}
.mapa{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.mapa img{
width: auto;
height: 15vh;
}
.destaques{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}
.destaque{
    background-color: var(--color-secondary);
    padding: var(--basic-padding-x);
    display: flex;
    align-items: center;
    gap: 9px;
    border-radius: var(--border-radius);
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
}
.destaque img{
    width: 40px;
    border-radius: var(--border-radius);
}
.filtros{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.filtros button{
    padding: 5px 10px;
    border-radius: var(--border-radius);
    color: var(--color-primary);
    background-color: var(--color-quaternary);
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
    cursor: pointer;
}
.onde, .quem, .quando{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.caracter{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.caracter input{
    border: none;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
    padding: 3px ;
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
}

.filtros select{
    border: none;
    flex-grow: 1;
    padding: 5px;
    outline: none;
    border-radius: var(--border-radius);
    padding: 3px ;
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
}

/*===========SECTION MAIN==============*/
.section_main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 80vh;
    gap: 10px;
    overflow-y: auto;
}
.casos_main{
    display: flex;
    padding: var(--basic-padding-x);
    flex-direction: column;
    gap:var(--leyout-gap);
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
}
/*============DESAPARECIDO==============*/
.desaparecido{
    display: flex;
    align-items: center;
    gap: var(--basic-gap);
}
.desaparecido img{
     width: var( --small-img);
     border-radius:100%;
}
.desaparecido button{
    background: none;
    margin-left: auto;
}

.main_img{
    width: auto;
    height: 35vh;
    border-radius: var(--border-radius);
    
}
/*==============MISSING DADOS===============*/
.missing_dados{
display: flex;
flex-direction: column;
}
.dados_1, .dados_2, .dados_3{
    display: flex;
    gap: 5px;
}
.interacao{
    display: flex;
    gap: var(--basic-gap);
    justify-content: center;
}
.interacao button{
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var( --color-primary);
     padding: var(--btn-padding-y) var(--btn-padding-x);
     flex-grow: 1;
}
.interacao button:hover{
    background-color: var(--color-quaternary);
    color: var(--color-primary);
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
}

/*===============ANUNCIOS==========*/
.section_anuncio{
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
}
.anuncios{
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    gap: 9px;
    padding: var(--basic-padding-x);
    background-color: var(--color-secondary);
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
      flex-grow: 1;
}
.anuncios img{
    width: auto;
    height: 200px;
}
.informacao{
    width: 300px;
}

/*==========FOOTER===============*/
.final_section{
    display: flex;
    flex-direction: column;
    gap: var(--basic-gap);
}
footer{
    display: flex;
    flex-wrap: wrap;
    gap: var(--basic-gap);
    width: 300px;
}

/*===============RELATAR CASO==================*/
.relatar_section{
    position: absolute;
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.446);
    display: flex;
    justify-content: center;
    align-items: center;
}
.relatar_caso{
    width: 50%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--basic-gap);
    background-color: var(--color-primary);
    box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
    
}
.relatar_caso header{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.relatar_caso header button{
    background: none;
    border: none;
    font-size: 23px;
    cursor: pointer;
}
.relatar_caso nav{
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
    display: flex;
    gap: 20px;
    padding: 0 10px;
    margin: 0 20px;
}
.formulario{
    gap: var(--basic-gap);
    padding:20px;
    background-color: var(--color-secondary);
    margin: 20px;
    border-radius: var(--border-radius);
}
.formulario div{
    flex-direction: column;
    gap: 5px;
}
.formulario input, .formulario select{
    border: 1px solid var(--color-primary);
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
}
textarea{
    resize: vertical;
    min-height: 100px;
    max-height: 160px;
}
.relatar_caso nav a.active{
    color: var(--color-quaternary);
    border-bottom: 3px solid var(--color-quaternary);
    padding-bottom: 6px;
    font-weight: 600;
}
.enviar_relato{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: var(--color-secondary);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.enviar_relato button{
    padding: var(--btn-padding-y) var(--btn-padding-x);
    border-radius: var(--border-radius);
    background-color: var(--color-quaternary);
    color: var(--color-primary);
     box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.172);
    cursor: pointer;
}


